* {
    padding: 0;
    margin: 0;
    font-family: 'Avenir', Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 1rem;
}

header > * {
    display: inline-block;
    width: 10vw;
}

header svg {
    fill: white;
}

h2 {
    font-size: 5vw;
}

h2 span {
    font-size: 3vw;
}

