* {
    padding: 0;
    margin: 0;
    font-family: 'Avenir', Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 1rem;
}

header > h1 {
    display: inline-block;
    width: 15vw;
}

header svg {
    fill: white;
}

h2 {
    font-size: 6vw;
    width: 50vw;
}

h2 span {
    font-size: 3vw;
    display: inline;
}

