* {
    padding: 0;
    margin: 0;
    font-family: 'Avenir', Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    width: 100px;
}

header svg {
    fill: white;
}

h2 {
    font-size: 28px;
    width: 200px;
    text-align: right;
    line-height: 20px;
}

h2 span {
    font-size: 16px;
    display: inline;
}

form {
    /* width: 100vw; */
    height: 25vh;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0 2px gray);
    padding-left: calc(100vw - var(--button) + var(--input));
}

input {
    --input: 70vw;
    width: var(--input);
    height: 40px;
    max-width: 500px;
    border-radius: 0;
    border: none;
}

form button {
    --button: 40px;
    width: var(--button);
    height: 40px;
    background: black;
    color: white;
    border: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    transition: 1s;
    cursor: pointer;
    /* padding: 11px 11px 11px 11px; */
    padding-left: 12px;
    overflow: hidden;
} 

form button:hover {
    width: 100px;
    padding-right: 5px;
}

form button::after {
    content: "search";
    display: inline-block;
    opacity: 0;
    color: white;
    transition: .5s;
    width: 100px;
    transition-delay: .3s;
}

form button:hover::after {
    opacity: 1;
}
