* {
    padding: 0;
    margin: 0;
    font-family: 'avenir', Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 1rem;
}

header > * {
    display: inline-block;
    width: 10vw;
}

header svg {
    fill: white;
}

header h2 {
    font-size: 61px;
}

